@font-face {
    font-family:'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

*{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#web{
    width: 50%;
    margin:auto;
}

nav{
    position: fixed;
    height: 40px;
    width: 50%;
    line-height: 20px;
    background-color: #005223;
    border-radius: 100px;
    min-width: 558.5px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: white;
    text-decoration: underline;
}

#logo{
    float:left;
    width: 40px;
    height: 40px;
}

nav ul li{
    font-size: 15px;
    float: left;
    margin:10px;
    list-style: none;
    margin-right: 25px;
    margin-left: 25px;
}

.clearfix{
    clear: both;
}

#contenido{
    list-style: none;
    float: left;
    width: calc(100% - 2px);
    min-height: auto;
    margin-top:30px;
    min-width: 558.5px;
}

.article{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-bottom: 1px solid #005223;
    font-size: 13px;
    min-height: 100px;
    min-width: 558.5px;
} 

.article h2{
    text-decoration-line: underline;
    margin-bottom: 5px;
}

.article p{
    color: #005223;
}

#about{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-bottom: 1px solid #005223;
    font-size: 13px;
}

#amodo h2, #crew h2{
    text-decoration-line: underline;
}

#amodo p, #crew p{
    color: #005223;
}

footer h2{
    list-style: none;
    font-family:sans-serif;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.5px;
    color: white;
    background-color: #005223;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 100px;
}
